.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: 5px;
  width: 150px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}

button {
  margin-top: 20px;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-top: 30px;
  margin-left: 150px;
  font-size: 16px;
}



th {
    margin-left: 650px;
    display: flex;
    background-color: lightgray;
    /* justify-content: space-evenly; */
}



td {
  text-align: center;
}
